@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
.navbar-content {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: rgb(77, 54, 29);
  justify-content: center;
  gap: 5px;
}
/* .left { */
/* display: flex;
} */
.list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 20px;
}
ul {
  list-style: none;
}
li {
  font-size: 25px;
  font-weight: 500;
  font-family: "Gill Sans";
  justify-content: right;
}
.list li:hover {
  transform: scale(1.2);
}
.intro {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: flex;
  justify-content: center;

  /* padding: 10px; */
}
.srch {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  background-color: transparent;
  border: rgb(228, 190, 142) 3px solid;
  /* color: black; */
  font-size: 18px;
  outline: none;
}
.search {
  display: flex;
  /* justify-content: space-around; */
  /* margin: 15px; */
  gap: 2rem;
}
.btnnn {
  background-color: rgb(3, 118, 141);
  font-size: 20px;
  color: black;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 1rem;
}
.txt {
  color: #106944;
  /* font-family: "Times New Roman"; */
  font-size: 30px;
  font-weight: 100px;
}
.bton {
  width: 100px;
  height: 60px;
  margin: 10px;
  padding: 5px;
  background-color: #106944;
  color: white;
  /* padding: 8px; */
  /* border: #1e476c 1px solid; */
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100px;
  border: none;
}

.icons {
  margin: 15px;
}
i {
  font-size: 28px;
  margin: 15px;
  color: rgb(3, 118, 141);
}
.logo {
  font-size: 25px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
